<nav class="ui stackable menu">
  
  <header class="ui header item"> 
    <!--     Change the link below to suit your app -->
    <a href="/"> Car Customisation App </a>
  </header>
  
  <div class="right menu">
    <!-- i created a diffrent structor to give the look and layout of the app i wanted to create so made diffrent .hbs pages and linked them together through "html" as i found it easier when working on this project over many days where i would have to stop and then pick it up again later  -->
    
  </div>
  
</nav>

<script>
 document.querySelector("#{{id}}").classList.add("active");
</script>
