<nav class="navbar">
    <div class="logo">
        <a href="/">Web App</a>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
      
    </ul>
</nav>
<h1>Welcome to My Web App</h1>
<p>This is the homepage click below to proceed to the next page where there will be three photos and a pop up that leads to another page each page has its own JSON collection that is fitting to the Auto Upgrade app theme i am goingwith .</p>


<a href="/page2">
    <img src="/images/p1.jpg" alt="Go to the Second Page" class="clickable-image">
</a>