<script src="/script.js"></script>
<div class="page2-container">
    <div class="page2-box">
        <img src="path/to/image1.jpg" alt="Image 1">
        <p class="page2-text">Description for Image 1</p>
    </div>
    <div class="page2-box">
        <img src="path/to/image2.jpg" alt="Image 2">
        <p class="page2-text">Description for Image 2</p>
    </div>
    <div class="page2-box">
        <img src="path/to/image3.jpg" alt="Image 3">
        <p class="page2-text">Description for Image 3</p>
    </div>
  
  <div id="popup" class="popup">
    <div class="popup-content">
        <p>Want to know a little more about the maker of this website cick.</p>
        <a href="/page6">Go to Page 6</a>
        <button onclick="closePopup()">Close</button>
    </div>
    
</div>
</div>