<script src="/script.js"></script>

<nav class="navbar">
    <div class="logo">
        <a href="/">My Web App</a>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
      
    </ul>
</nav>

<div class="page2-container">
  <div class="page2-box">
    <a href="/page3">
      <img src="/images/image1.png" alt="Image 1">
    </a>
    <p class="page2-text">mechanic reviews</p>
  </div>

  <div class="page2-box">
    <a href="/page4">
      <img src="/images/image2.png" alt="Image 2">
    </a>
    <p class="page2-text">submision for booking</p>
  </div>

  <div class="page2-box">
    <a href="/page5">
      <img src="/images/image3.png" alt="Image 3">
    </a>
    <p class="page2-text">Available Cars</p>
  </div>
  
   <div id="popup" class="popup">
    <div class="popup-content">
        <p>the person who made these said it was the worse thing he ever invented.</p>
        <a href="/page6">want to know about who made this one?</a>
        <button onclick="closePopup()">Nope!</button>
    </div>
  </div>
  
</div>