<nav class="navbar">
    <div class="logo">
        <a href="/">My Web App</a>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
      
    </ul>
</nav>
<h1>Recent Cars</h1>
<ul>
  {{#each cars}}
    <li>{{brand}} {{model}} ({{year}})</li>
  {{/each}}
</ul>