<script src="/script.js"></script>
<div class="page2-container">
  <div class="page2-box">
    <a href="/page3">
      <img src="/images/image1.png" alt="Image 1">
    </a>
    <p class="page2-text">Description for Image 1</p>
  </div>

  <div class="page2-box">
    <a href="/page4">
      <img src="/images/image2.png" alt="Image 2">
    </a>
    <p class="page2-text">Description for Image 2</p>
  </div>

  <div class="page2-box">
    <a href="/page5">
      <img src="/images/image3.png" alt="Image 3">
    </a>
    <p class="page2-text">Description for Image 3</p>
  </div>
  
   <div id="popup" class="popup">
    <div class="popup-content">
        <p>Want to know a little more about the maker of this website cick.</p>
        <a href="/page6">here</a>
        <button onclick="closePopup()">Close</button>
    </div>
  </div>
  
</div>